{% extends 'base.html.twig' %}

{% block title %}Votre panier - La boutique française{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 3em auto; max-width: 1140px; min-height: 80vh; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1 class="my-2 text-center">Mon panier </h1>
    <div class="row py-5">
        <div class="col-12">


    {% if cart | length > 0 %}
            <p class="text-center">
                Retrouvez l'ensemble des produits que vous avez choisi :
            </p>
            <div class="table-responsive mx-auto">
                <table class="table ">
                    <thead>
                    <tr>

                        <th scope="col">Produit</th>
                        <th scope="col">Image</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Total</th>
                        <th scope="col">Supprimer</th>


                    </tr>
                    </thead>
                    <tbody>
                    {%  set total = null %}
                  {% for item in cart %}

                    <tr>

                        <th>{{ item.product.name }}<br>
                            <small>{{ item.product.subtitle }}</small>

                        </th>
                        <td>
                            <img src="/uploads/{{ item.product.image }}" alt="{{ item.product.name }}" class="img-thumbnail" style="width:80px;">
                        </td>
                        <td class="text-center">
                            <a href="{{ path('decrease_quantity', {'id': item.product.id}) }}">
                                <img src="{{ asset('assets/img/minus.png') }}" alt="icone signe moins" height="12px" class="pr-1">
                            </a>
                            {{ item.quantity }}
                            <a href="{{ path('add_to_cart', {'id': item.product.id}) }}">
                                <img src="{{ asset('assets/img/add.png') }}" alt="icone signe plus" height="12px"  class="pl-1">
                            </a>
                           </td>
                        <td>{{ (item.product.price/100) | number_format(2,',','.') }} €</td>
                        <td>{{ (item.product.price/100) * item.quantity }} €</td>
                        <td class="text-center">

                                <a href="{{ path('remove_product', {'id': item.product.id}) }}" class="btn  btn-sm btn-danger">
                                     <img src="{{ asset('assets/img/delete.png') }}" alt="icone poubelle" height="18px">
                                </a>

                        </td>

                    </tr>
                    {% set total= total + (item.product.price/100) * item.quantity %}
                     {% endfor %}
                    </tbody>
                </table>
                    <div class="text-right my-3">
                        <a href="{{ path('delete_cart') }}" class="btn  btn-danger" onclick="return confirm('Voulez-vous vraiment vider votre panier')">Vider mon panier</a>
                    </div>

            </div>

        </div>
        <div class="col-12 text-center text-md-right ">
            <p> <strong>Nombre de produits : {{ cart|length }}</strong></p>
            <p><strong>Total de la commande : {{ total | number_format(2,',','.') }} €</strong></p>
            <a href="{{ path('order') }}" class="btn btn-block btn-success mb-5">Valider mon Panier</a>

        </div>
    {% else %}
        <hr>
        <strong>Votre panier est vide.</strong>
    {% endif %}
    </div>
</div>
{% endblock %}