{% extends 'base.html.twig' %}

{% block title %}Confirmation de commande - La boutique française{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; min-height:80vh; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="h3">Confirmation de commande</h1>
    <hr>
    <p class="">Bonjour <strong>{{ order.user.firstname}} {{ order.user.lastname}} </strong></p>
    <p>  La boutique française vous remercie pour votre commande n° <strong>{{ order.reference }}</strong></p>
    <p>Une confirmation vient de vous être envoyée par mail à l'adresse suivante : <strong>{{ order.user.email }}</strong></p>
    <hr>
    <p>Votre commande sera livrée par <strong>{{ order.carrierName }}</strong> à l'adresse suivante : <br>
    {{ order.delivery |raw }}</p>
    <p>Pour suivre votre commande, rendez-vous dans votre <a href="{{ path('account_order') }}">compte.</a></p>

</div>
{% endblock %}