{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - La boutique française{% endblock %}

{% block content %}
    <style>
        .example-wrapper { margin: 5em auto; max-width: 1140px; min-height: 90vh; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1 class="h3 ">Mon récapitulatif de commande</h1>
        <p>Vérifiez vos informations avant de procéder au paiement</p>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p class="font-weight-bold">Mon adresse de livraison : </p>
                <div class="form-check">{{ address |raw}}</div>
                <hr>
                <p class="font-weight-bold">Mon transporteur : </p>
                <div class="form-check">{{ carrier.name }} <br> {{ carrier.description }} <br> {{ (carrier.price/100)|number_format(2,',',',') }} €</div>


            </div>


            <div class="col-md-6 mt-2 mt-md-0 mb-3">
                <p class="font-weight-bold"> Ma commande :</p>
                <div class="order-recap">
                    {% set total = 0 %}
                    {% for item in cart %}
                        <div class="row">
                            <div class="col-2 my-auto">
                                <img src="/uploads/{{ item.product.image}}" alt="" height="50px" class="img-order">
                            </div>
                            <div class="col-7 my-auto">
                                <p>{{ item.product.name }} <br>
                                    <small>{{ item.product.subtitle }}</small><br>
                                    x {{ item.quantity }}
                                </p>

                            </div>
                            <div class="col-3 my-auto">
                                <p>{{ (item.quantity*item.product.price/100)|number_format(2,',',',') }} €</p>
                            </div>
                        {% set total = total + (item.quantity*item.product.price/100) %}
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="col-md-6 offset-md-6 text-right  mb-5">
                <p>Sous-total : <strong>{{ total | number_format(2,',',',')  }} €</strong></p>
                <p>Frais de livraison : <strong>{{ (order.carrierPrice/100)|number_format(2,',',',') }} €</strong></p>
                <hr>
                <p>Total à payer : <strong>{{ (total + order.carrierPrice/100) |number_format(2,',',',')  }} €</strong></p>
                <a  class="btn btn-block btn-success" id="checkout-button">Payer</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>

{% endblock %}
{% block script %}
<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("pk_test_51IiFprEEBo8LwIZvoeE4AUNg8Qn0aVws1ILDe5pTLMdlcvj5CGyuGX5qYlVB9731g4WlZykDnlZSuGLQvTnEdWVG00YFysy5q3");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
        fetch("/commande/create-session/{{ reference }}", {
            method: "POST",
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                if(session.error == 'order') {
                    window.location.replace('{{ path('order') }}');
                } else {
                return stripe.redirectToCheckout({ sessionId: session.id });

                }
            })
            .then(function (result) {
                // If redirectToCheckout fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using error.message.
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    });
</script>
{% endblock %}